header {
    .sidepanel {
        width: 0;
        position: fixed;
        z-index: 1;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: .2s;
        padding-top: 60px;
        background-color: $main_color;
        .topnav-mobile-tablet {
            padding-left: 10px;
            background-color: $main_color;
            .top-menu-mobile {
                .text-menu {
                    position: absolute;
                    top: 13px;
                    left: 25px;
                    font-size: 16px;
                    color: white;
                    font-family: futura_light;
                }
                .closebtn {
                    position: absolute;
                    top: 5px;
                    right: 25px;
                    font-size: 30px;
                    color: white;
                }
            }
            a {
                float: left;
                padding: 10px 0px;
                padding-right: 15px;
                color: $link_color;
                text-align: center;
                text-decoration: none;
                font-size: 13px;
                text-transform: uppercase;
                font-family: futura_book;
            }
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .box-collapse {
            background-color: #eee;
            text-transform: uppercase;
            font-family: futura_book;
            padding: 10px;
            color: #ababab;
            font-size: 13px;
            .collapse-item {
                padding: 15px 10px;
                i {
                    float: right;
                }
            }
        }
        .login {
            padding-top: 15px;
            a {
                display: block;
                padding: 5px 20px;
                color: white;
                text-transform: uppercase;
                font-size: 14px;
                font-family: futura_book !important;
            }
        }
    }
    .top-header {
        @media (min-width: 480px) {
            background-color: $main_color;
            border-bottom: solid 1px #313133;
        }
        @media (max-width:480px) {
            background-color: #4c4c4c;
        }
        // Top header
        .top-header-content {
            overflow: hidden;
            font-family: futura_bk;
            padding: 5px 0px 5px 0px;
            @media (max-width: 480px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .return {
                margin-left: 20px;
            }
            .shipping,
            .return {
                float: left;
                 :hover {
                    color: white;
                }
                span,
                a,
                i {
                    color: #a2a2a2;
                    text-align: center;
                    text-decoration: none;
                    font-size: 12px;
                }
                span {
                    display: inline;
                    @media (min-width: 480px) {
                        display: none;
                    }
                }
                i {
                    display: none;
                    @media (min-width: 480px) {
                        display: inline;
                    }
                }
            }
            .top-header-right {
                display: none;
                @media (min-width: 480px) {
                    display: inline;
                }
                float: right;
                text-transform: uppercase;
                div {
                    margin-left: 3px;
                    float: left;
                     :hover {
                        color: white;
                    }
                    a {
                        color: $link_color;
                        text-align: center;
                        text-decoration: none;
                        font-size: 12px;
                    }
                }
                .favorites,
                .bag {
                    padding-left: 3px;
                    border: none;
                    display: none;
                    @media (min-width: 768px) {
                        display: inline;
                    }
                    span {
                        color: #a2a2a2;
                    }
                }
                .bag {
                    i {
                        color: #d73e48;
                    }
                }
            }
            .login {
                display: none;
                @media(min-width: 640px) {
                    display: inline;
                }
            }
        }
    }
}

// header separate
.header-separate {
    @media(min-width: 480px) {
        height: 4px;
        width: 100%;
        background-color: #414143;
        border-bottom: solid 1px #4a4a4b;
    }
}

// header middle
.header-middle {
    background-color: #414042;
    color: white;
    .header-middle-content {
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-items: center;
        .left-section {
            width: 35%;
            display: flex;
            // menu mobile
            .menu-mobile,
            .search-mobile {
                display: inline;
                i {
                    font-size: 16px;
                    margin-right: 15px;
                     :hover {
                        color: $link_color;
                    }
                }
            }
            .menu-mobile {
                @media(min-width: 900px) {
                    display: none;
                }
            }
            .search-mobile {
                @media (min-width: 480px) {
                    display: none;
                }
            }
            // menu desktop
            .menu-desktop {
                .nav-menu-desktop {
                    display: none;
                    @media (min-width: 900px) {
                        display: inline;
                        padding-top: 30px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                         :hover {
                            color: white;
                        }
                        a {
                            float: left;
                            color: $link_color;
                            text-align: center;
                            padding-right: 20px;
                            text-decoration: none;
                            font-size: 13px;
                            text-transform: uppercase;
                            font-family: futura_light;
                        }
                    }
                }
            }
        }
        // logo
        .img-logo {
            margin: 0 auto;
            img {
                height: 25px;
            }
            @media (min-width: 480px) {
                img {
                    height: 40px;
                }
            }
        }
        // right section
        .right-section {
            width: 35%;
            text-align: right;
            .right-section-mobile {
                display: inline;
                @media (min-width: 480px) {
                    display: none;
                }
                i {
                    font-size: 16px;
                    margin-left: 10px;
                }
            }
            .search-section {
                float: left;
                i {
                    color: white;
                    display: none;
                    @media (min-width: 480px) {
                        display: inline;
                    }
                    @media (min-width: 480px) and (max-width:767px) {
                        transform: translate(100px, 0) !important;
                        float: right !important;
                    }
                }
                .search-tablet {
                    display: none;
                    @media(min-width: 480px) {
                        display: inline;
                        text-align: right;
                        background-color: $main_color;
                        font-style: italic;
                        font-family: futura_light;
                        border: none;
                    }
                    @media(min-width: 900px) {
                        display: none;
                    }
                    @media (min-width: 480px) and (max-width:767px) {
                        display: none;
                    }
                }
                .search-desktop {
                    @extend .search-tablet;
                    display: none;
                    @media(min-width: 900px) {
                        display: inline;
                        width: 60%;
                        text-align: left;
                        border: 0px;
                        border-bottom: solid 1px;
                        border-color: $link_color;
                    }
                }
            }
        }
    }
}

// main menu
.main-menu {
    overflow: hidden;
    background-color: #efeae5;
    .menu-content {
        padding-left: 55px;
        @media (min-width: 480px) {
            padding-left: 15px;
        }
        a {
            float: left;
            padding: 10px 0px;
            padding-right: 35px;
            color: $link_color;
            text-align: center;
            text-decoration: none;
            font-size: 13px;
            text-transform: uppercase;
            font-family: futura_light;
        }
        .topnav-mobile-tablet {
            @media (min-width: 320px) {
                display: flex;
                align-items: center;
                justify-content: center;
                @media (min-width: 900px) {
                    display: none;
                }
                a {
                     :hover {
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
        // menu desktop
        .topnav-desktop {
            display: none;
            @media (min-width: 900px) {
                display: inline;
                a {
                    padding-right: 35px;
                    color: black;
                    &:hover {
                        color: $link_color !important;
                        // border-bottom: 1px solid black;
                    }
                }
            }
        }
    }
}