@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@font-face {
  font-family: stay-wildy;
  src: url("/fonts/stay-wildy.eot"); }

@font-face {
  font-family: futura_bk;
  src: url(/fonts/futura_bk_bt_book-webfont.eot);
  src: url(/fonts/futura_bk_bt_book-webfont.svg);
  src: url(/fonts/futura_bk_bt_book-webfont.ttf);
  src: url(/fonts/futura_bk_bt_book-webfont.woff); }

@font-face {
  font-family: futura_light;
  src: url(/fonts/futurastd-light-webfont.ttf);
  src: url(/fonts/futurastd-light-webfont.eot);
  src: url(/fonts/futurastd-light-webfont.svg);
  src: url(/fonts/futurastd-light-webfont.woff); }

@font-face {
  font-family: futura_book;
  src: url(/fonts/futurastd-book-webfont.eot);
  src: url(/fonts/futurastd-book-webfont.svg);
  src: url(/fonts/futurastd-book-webfont.ttf);
  src: url(/fonts/futurastd-book-webfont.woff); }

@font-face {
  font-family: opensans;
  src: url("/fonts/OpenSans.woff"); }

.breadcrumb {
  background-color: white !important;
  margin: 0px !important;
  padding: 4px 0 1px 0 !important;
  font-family: opensans !important;
  font-size: 10px;
  text-transform: uppercase;
  color: #a5a5a6;
  transform: translate(-13px, 0px); }
  @media (max-width: 900px) {
    .breadcrumb {
      display: none !important; } }
  .breadcrumb .breadcrumb-item {
    color: #414042 !important;
    background-color: white; }
    .breadcrumb .breadcrumb-item a {
      color: #414042 !important; }

.sub-banner {
  overflow: hidden; }
  .sub-banner .container-fluid {
    padding: 0px; }
  .sub-banner .sub-banner-content {
    margin-top: 20px;
    position: relative; }
    .sub-banner .sub-banner-content .sale-banner-desktop {
      display: inline;
      width: 100%;
      transform: translate(-7px, 0px); }
      @media (max-width: 480px) {
        .sub-banner .sub-banner-content .sale-banner-desktop {
          display: none; } }
    .sub-banner .sub-banner-content .sale-banner-mobile {
      width: 100%; }
      @media (min-width: 480px) {
        .sub-banner .sub-banner-content .sale-banner-mobile {
          display: none; } }
    .sub-banner .sub-banner-content button {
      background-color: #414042;
      padding: 5px 40px;
      text-transform: uppercase;
      font-family: opensans;
      font-size: 14px;
      color: white;
      border: 0px;
      width: 70%;
      cursor: pointer;
      background-color: #e1bf83;
      width: 75%;
      position: absolute;
      bottom: 8%;
      left: 15%; }
      .sub-banner .sub-banner-content button:hover {
        background-color: #a5a5a6; }
      @media (min-width: 1024px) {
        .sub-banner .sub-banner-content button {
          width: 15%;
          padding: 10px 40px;
          left: 42.3%; } }
      @media (min-width: 480px) and (max-width: 1024px) {
        .sub-banner .sub-banner-content button {
          width: 20%;
          left: 39.5%;
          padding: 5px 15px; } }

.products {
  margin-top: 10px; }
  .products .container {
    padding: 0px; }
  .products .products-content .product-list .product-item {
    position: relative;
    margin-bottom: 5px; }
    .products .products-content .product-list .product-item img {
      width: 100%; }
      @media (min-width: 480px) {
        .products .products-content .product-list .product-item img {
          width: 99%; } }
    .products .products-content .product-list .product-item button {
      background-color: #414042;
      padding: 5px 40px;
      text-transform: uppercase;
      font-family: opensans;
      font-size: 14px;
      color: white;
      border: 0px;
      width: 70%;
      cursor: pointer;
      position: absolute;
      right: 13%;
      bottom: 10%; }
      .products .products-content .product-list .product-item button:hover {
        background-color: #a5a5a6; }
  @media (min-width: 480px) {
    .products .products-content .product-list {
      display: flex; } }

.main-banner {
  background-color: #f4f4f4;
  margin-top: 5px; }
  .main-banner .container {
    padding: 0px; }
  .main-banner .main-banner-content .banner-mobile {
    width: 100%; }
    @media (min-width: 768px) {
      .main-banner .main-banner-content .banner-mobile {
        display: none; } }
  .main-banner .main-banner-content .banner-desktop {
    display: none; }
    @media (min-width: 768px) {
      .main-banner .main-banner-content .banner-desktop {
        display: inline;
        width: 100%;
        overflow: hidden !important; } }

.daddy .container {
  padding: 0px; }

.daddy .daddy-content .product-intro {
  margin-bottom: 20px; }
  .daddy .daddy-content .product-intro img {
    margin: 0px 15% 0px 15%;
    width: 70%;
    overflow: hidden; }
    @media (min-width: 480px) {
      .daddy .daddy-content .product-intro img {
        width: 60%;
        margin: 20% 10% 0px 30%; } }
  .daddy .daddy-content .product-intro button {
    background-color: #414042;
    padding: 5px 40px;
    text-transform: uppercase;
    font-family: opensans;
    font-size: 14px;
    color: white;
    border: 0px;
    width: 70%;
    cursor: pointer;
    margin: 0 15% 0 15%; }
    .daddy .daddy-content .product-intro button:hover {
      background-color: #a5a5a6; }
    @media (min-width: 480px) {
      .daddy .daddy-content .product-intro button {
        width: 50%;
        margin: 20px 15% 0 35%; } }
    @media (min-width: 480px) and (max-width: 991px) {
      .daddy .daddy-content .product-intro button {
        width: 70%;
        margin: 20px 15% 0 25%; } }

.daddy .daddy-content .daddy-image .daddy-mobile {
  width: 90%;
  margin: 0 5% 0 5%;
  overflow: hidden;
  box-shadow: 10px 10px 60px #e5e5e5; }
  @media (min-width: 480px) {
    .daddy .daddy-content .daddy-image .daddy-mobile {
      display: none; } }

.daddy .daddy-content .daddy-image .daddy-desktop {
  display: none; }
  @media (min-width: 480px) {
    .daddy .daddy-content .daddy-image .daddy-desktop {
      display: inline;
      width: 80%;
      margin: 10% 30% 5% 10%; } }

@media (min-width: 480px) {
  .daddy .daddy-content {
    display: flex; } }

.sub-banner2 .sub-banner2-content {
  margin-top: 20px;
  position: relative; }
  @media (max-width: 480px) {
    .sub-banner2 .sub-banner2-content .banner-desktop {
      display: none; } }
  .sub-banner2 .sub-banner2-content .banner-mobile {
    width: 100%; }
    @media (min-width: 480px) {
      .sub-banner2 .sub-banner2-content .banner-mobile {
        display: none; } }
  .sub-banner2 .sub-banner2-content button {
    background-color: #414042;
    padding: 5px 40px;
    text-transform: uppercase;
    font-family: opensans;
    font-size: 14px;
    color: white;
    border: 0px;
    width: 70%;
    cursor: pointer;
    padding: 5px 20px;
    position: absolute;
    top: 7%;
    left: 15%; }
    .sub-banner2 .sub-banner2-content button:hover {
      background-color: #a5a5a6; }
    @media (min-width: 480px) {
      .sub-banner2 .sub-banner2-content button {
        width: 25%;
        padding: 10px 20px;
        left: 37%;
        top: 15%; } }
  .sub-banner2 .sub-banner2-content .banner-desktop {
    width: 100%; }

.collection .container {
  padding: 0px; }

.collection .collection-content .collection-list {
  transform: translate(0px, -80px); }
  @media (min-width: 480px) {
    .collection .collection-content .collection-list {
      transform: translate(0px, -50px); } }
  .collection .collection-content .collection-list .collection-item {
    position: relative; }
    .collection .collection-content .collection-list .collection-item img {
      width: 90%;
      margin: 0 5% 5px 5%; }
      @media (min-width: 480px) {
        .collection .collection-content .collection-list .collection-item img {
          width: 99%; } }
    .collection .collection-content .collection-list .collection-item button {
      background-color: #414042;
      padding: 5px 40px;
      text-transform: uppercase;
      font-family: opensans;
      font-size: 14px;
      color: white;
      border: 0px;
      width: 70%;
      cursor: pointer;
      position: absolute;
      bottom: 15%;
      left: 15%; }
      .collection .collection-content .collection-list .collection-item button:hover {
        background-color: #a5a5a6; }
      @media (min-width: 480px) {
        .collection .collection-content .collection-list .collection-item button {
          left: 20%; } }
  .collection .collection-content .collection-list .collection-event {
    text-align: center;
    padding: 8% 0 0 0; }
    .collection .collection-content .collection-list .collection-event h4, .collection .collection-content .collection-list .collection-event p {
      font-family: futura_light; }
    .collection .collection-content .collection-list .collection-event h4 {
      text-transform: uppercase;
      font-size: 20px; }
      @media (min-width: 480px) {
        .collection .collection-content .collection-list .collection-event h4 {
          font-size: 25px; } }
    .collection .collection-content .collection-list .collection-event p {
      font-size: 17px;
      color: #e0be86;
      transform: translate(0, -10px); }
      @media (min-width: 480px) {
        .collection .collection-content .collection-list .collection-event p {
          font-size: 22px; } }
    @media (min-width: 480px) {
      .collection .collection-content .collection-list .collection-event {
        width: 50%;
        margin-left: 5%; } }
  @media (max-width: 480px) {
    .collection .collection-content .collection-list .collection-banner {
      overflow: hidden; } }
  .collection .collection-content .collection-list .collection-banner img {
    width: 135%;
    transform: translate(-12%, 0); }
  @media (min-width: 480px) {
    .collection .collection-content .collection-list .collection-banner {
      width: 50%; }
      .collection .collection-content .collection-list .collection-banner img {
        width: 104.5%;
        transform: translate(0, 0); } }
  @media (min-width: 480px) {
    .collection .collection-content .collection-list {
      display: flex; } }

footer {
  color: #838283;
  font-family: opensans; }
  footer .copyright-footer {
    padding: 10px;
    background-color: #303030;
    text-align: center;
    text-transform: uppercase;
    font-family: opensans;
    font-size: 10px;
    padding-bottom: 30px; }
  footer .hr {
    border: 1px solid #4c4c4c; }
  @media (min-width: 1024px) {
    footer .footer-mobile {
      display: none; } }
  footer .footer-mobile .contact {
    justify-content: center; }
    footer .footer-mobile .contact .contact-tittle {
      text-align: center;
      text-transform: uppercase;
      color: #414042;
      font-size: 11pt; }
    footer .footer-mobile .contact .icons-contact {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      font-size: 11pt; }
      footer .footer-mobile .contact .icons-contact .icon-chat,
      footer .footer-mobile .contact .icons-contact .icon-call,
      footer .footer-mobile .contact .icons-contact .icon-email {
        float: left;
        text-align: center;
        text-transform: uppercase;
        font-size: 11pt;
        margin: 0 10px;
        color: #a1a1a1; }
        footer .footer-mobile .contact .icons-contact .icon-chat a,
        footer .footer-mobile .contact .icons-contact .icon-call a,
        footer .footer-mobile .contact .icons-contact .icon-email a {
          color: #a5a5a6; }
    footer .footer-mobile .contact .infor-contact {
      text-align: center;
      font-size: 11pt;
      color: #a1a1a1; }
    footer .footer-mobile .contact .subscribe {
      background-color: #f3f3f3;
      text-align: center;
      padding-bottom: 15px; }
      footer .footer-mobile .contact .subscribe p {
        text-align: center;
        font-size: 11pt;
        color: #414042;
        font-family: opensans;
        padding: 10px 10px; }
      footer .footer-mobile .contact .subscribe .email-subscribe {
        padding: 10px 10px;
        border: none;
        font-family: opensans;
        width: 60%; }
      footer .footer-mobile .contact .subscribe button {
        padding: 10px 10px;
        border-radius: 0px;
        border: 1px solid black;
        text-transform: uppercase; }
  footer .footer-mobile .box-collapse {
    background-color: #414042;
    text-transform: uppercase;
    font-family: opensans;
    padding: 10px;
    color: #fff;
    font-size: 14px; }
    footer .footer-mobile .box-collapse .collapse-item {
      padding: 10px 10px;
      border-bottom: solid 1px #4c4c4c; }
      footer .footer-mobile .box-collapse .collapse-item i {
        float: right; }
  @media (min-width: 425px) {
    footer .footer-mobile .review div,
    footer .footer-mobile .bottom-footer div,
    footer .footer-mobile .copyright-footer div {
      width: 80%;
      text-align: center;
      margin: 0 auto; } }
  footer .footer-mobile .review {
    padding: 10px;
    background-color: #414042;
    font-family: opensans;
    color: #fff;
    text-align: center;
    font-size: 11px; }
    footer .footer-mobile .review div {
      margin-top: 10px; }
    footer .footer-mobile .review .review-title {
      font-size: 13px;
      text-transform: uppercase; }
    footer .footer-mobile .review .review-stars {
      text-align: center; }
    footer .footer-mobile .review .review-content {
      color: #aaaaaa; }
      footer .footer-mobile .review .review-content span {
        color: white; }
      footer .footer-mobile .review .review-content .dot {
        font-size: 7px; }
        footer .footer-mobile .review .review-content .dot i {
          padding-right: 10px; }
        footer .footer-mobile .review .review-content .dot .first {
          color: #e1bf83; }
    footer .footer-mobile .review .more-review {
      color: #aaaaaa; }
      footer .footer-mobile .review .more-review span {
        margin: 10px;
        color: white; }
    footer .footer-mobile .review a {
      text-decoration: none;
      color: #d9b67c; }
  footer .footer-mobile .bottom-footer {
    background-color: #414042;
    padding: 10px; }
    footer .footer-mobile .bottom-footer .separate {
      width: 100px;
      height: 1px;
      background-color: #4c4c4c;
      margin: 10px auto; }
    footer .footer-mobile .bottom-footer .location {
      font-size: 10px;
      display: flex;
      text-transform: uppercase;
      padding: 10px 0;
      justify-content: center; }
      footer .footer-mobile .bottom-footer .location .flag {
        height: 15px;
        transform: translate(-10px, 15px); }
      footer .footer-mobile .bottom-footer .location p {
        padding-top: 15px; }
      footer .footer-mobile .bottom-footer .location .map {
        margin-left: 10px; }
        @media (max-width: 480px) {
          footer .footer-mobile .bottom-footer .location .map {
            width: 25%; } }
    footer .footer-mobile .bottom-footer .social-icons,
    footer .footer-mobile .bottom-footer .payment-method {
      text-align: center; }
      footer .footer-mobile .bottom-footer .social-icons i,
      footer .footer-mobile .bottom-footer .payment-method i {
        margin: 10px;
        color: white; }
  footer .footer-desktop {
    font-family: opensans;
    background-color: #414042;
    display: none; }
    @media (min-width: 1024px) {
      footer .footer-desktop {
        display: inline; }
        footer .footer-desktop div {
          background-color: #414042;
          font-size: 13px; }
        footer .footer-desktop .separate {
          width: 1px;
          height: 50px;
          background-color: #4c4c4c;
          margin: auto 30px; } }
    footer .footer-desktop .top-footer {
      padding-top: 30px;
      padding-bottom: 20px; }
      footer .footer-desktop .top-footer .container {
        font-family: opensans;
        display: flex;
        align-items: center; }
        footer .footer-desktop .top-footer .container .social-icons,
        footer .footer-desktop .top-footer .container .country-select {
          width: 25%;
          text-align: left;
          text-transform: uppercase; }
          footer .footer-desktop .top-footer .container .social-icons i,
          footer .footer-desktop .top-footer .container .country-select i {
            color: #fff;
            font-size: 16px;
            margin-right: 10px; }
        footer .footer-desktop .top-footer .container .subscribe {
          text-align: left; }
          footer .footer-desktop .top-footer .container .subscribe input {
            color: #aaa;
            background-color: #2d2d2e;
            border: 1px solid #222;
            height: 40px;
            width: 70%; }
          footer .footer-desktop .top-footer .container .subscribe button {
            background-color: transparent;
            border: 1px solid #a2a2a2;
            height: 40px;
            width: 25%;
            color: white;
            text-transform: uppercase;
            transform: translate(0px, -1px);
            cursor: pointer; }
        footer .footer-desktop .top-footer .container .country {
          width: 30%;
          float: right;
          text-align: left;
          text-transform: uppercase; }
          footer .footer-desktop .top-footer .container .country img {
            vertical-align: middle; }
          footer .footer-desktop .top-footer .container .country span {
            padding-left: 15px;
            font-size: 10px; }
            footer .footer-desktop .top-footer .container .country span a {
              color: #a5a5a6;
              text-decoration: none; }
    footer .footer-desktop .review-title {
      text-transform: uppercase;
      color: white;
      font-size: 14px;
      padding: 10px 0px; }
    footer .footer-desktop .review-overall {
      padding-top: 10px;
      padding-bottom: 20px; }
      footer .footer-desktop .review-overall .container {
        display: flex; }
        footer .footer-desktop .review-overall .container .review-detail,
        footer .footer-desktop .review-overall .container .more-review {
          width: 25%;
          margin-right: 15px; }
        footer .footer-desktop .review-overall .container .review-detail {
          text-align: left; }
          footer .footer-desktop .review-overall .container .review-detail .review-stars i {
            color: white;
            font-size: 16px; }
          footer .footer-desktop .review-overall .container .review-detail .review-content {
            font-size: 12px; }
            footer .footer-desktop .review-overall .container .review-detail .review-content span {
              color: white; }
            footer .footer-desktop .review-overall .container .review-detail .review-content a {
              text-decoration: none;
              color: #d9b67c; }
        footer .footer-desktop .review-overall .container .more-review {
          font-size: 12px; }
          footer .footer-desktop .review-overall .container .more-review span {
            color: white; }
          footer .footer-desktop .review-overall .container .more-review a {
            text-decoration: none;
            color: #d9b67c; }
    footer .footer-desktop .main-footer {
      padding-top: 10px;
      padding-bottom: 20px; }
      footer .footer-desktop .main-footer .container {
        display: flex; }
        footer .footer-desktop .main-footer .container .content {
          width: 25%;
          margin-right: 15px; }
          footer .footer-desktop .main-footer .container .content .title-content,
          footer .footer-desktop .main-footer .container .content .contact {
            text-transform: uppercase;
            color: white;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 14px; }
          footer .footer-desktop .main-footer .container .content ul {
            padding-left: 0px; }
            footer .footer-desktop .main-footer .container .content ul a {
              text-decoration: none; }
            footer .footer-desktop .main-footer .container .content ul li {
              list-style: none;
              margin-bottom: 10px;
              font-size: 13px;
              color: #aaaaaa; }
              footer .footer-desktop .main-footer .container .content ul li span {
                color: #727272; }
  footer .payment-method {
    text-align: center;
    color: white;
    padding: 10px; }
    footer .payment-method i {
      margin: 10px;
      font-size: 30px; }

header .sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: .2s;
  padding-top: 60px;
  background-color: #414042; }
  header .sidepanel .topnav-mobile-tablet {
    padding-left: 10px;
    background-color: #414042;
    display: flex;
    align-items: center;
    justify-content: center; }
    header .sidepanel .topnav-mobile-tablet .top-menu-mobile .text-menu {
      position: absolute;
      top: 13px;
      left: 25px;
      font-size: 16px;
      color: white;
      font-family: futura_light; }
    header .sidepanel .topnav-mobile-tablet .top-menu-mobile .closebtn {
      position: absolute;
      top: 5px;
      right: 25px;
      font-size: 30px;
      color: white; }
    header .sidepanel .topnav-mobile-tablet a {
      float: left;
      padding: 10px 0px;
      padding-right: 15px;
      color: #a5a5a6;
      text-align: center;
      text-decoration: none;
      font-size: 13px;
      text-transform: uppercase;
      font-family: futura_book; }
  header .sidepanel .box-collapse {
    background-color: #eee;
    text-transform: uppercase;
    font-family: futura_book;
    padding: 10px;
    color: #ababab;
    font-size: 13px; }
    header .sidepanel .box-collapse .collapse-item {
      padding: 15px 10px; }
      header .sidepanel .box-collapse .collapse-item i {
        float: right; }
  header .sidepanel .login {
    padding-top: 15px; }
    header .sidepanel .login a {
      display: block;
      padding: 5px 20px;
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      font-family: futura_book !important; }

@media (min-width: 480px) {
  header .top-header {
    background-color: #414042;
    border-bottom: solid 1px #313133; } }

@media (max-width: 480px) {
  header .top-header {
    background-color: #4c4c4c; } }

header .top-header .top-header-content {
  overflow: hidden;
  font-family: futura_bk;
  padding: 5px 0px 5px 0px; }
  @media (max-width: 480px) {
    header .top-header .top-header-content {
      display: flex;
      align-items: center;
      justify-content: center; } }
  header .top-header .top-header-content .return {
    margin-left: 20px; }
  header .top-header .top-header-content .shipping,
  header .top-header .top-header-content .return {
    float: left; }
    header .top-header .top-header-content .shipping :hover,
    header .top-header .top-header-content .return :hover {
      color: white; }
    header .top-header .top-header-content .shipping span,
    header .top-header .top-header-content .shipping a,
    header .top-header .top-header-content .shipping i,
    header .top-header .top-header-content .return span,
    header .top-header .top-header-content .return a,
    header .top-header .top-header-content .return i {
      color: #a2a2a2;
      text-align: center;
      text-decoration: none;
      font-size: 12px; }
    header .top-header .top-header-content .shipping span,
    header .top-header .top-header-content .return span {
      display: inline; }
      @media (min-width: 480px) {
        header .top-header .top-header-content .shipping span,
        header .top-header .top-header-content .return span {
          display: none; } }
    header .top-header .top-header-content .shipping i,
    header .top-header .top-header-content .return i {
      display: none; }
      @media (min-width: 480px) {
        header .top-header .top-header-content .shipping i,
        header .top-header .top-header-content .return i {
          display: inline; } }
  header .top-header .top-header-content .top-header-right {
    display: none;
    float: right;
    text-transform: uppercase; }
    @media (min-width: 480px) {
      header .top-header .top-header-content .top-header-right {
        display: inline; } }
    header .top-header .top-header-content .top-header-right div {
      margin-left: 3px;
      float: left; }
      header .top-header .top-header-content .top-header-right div :hover {
        color: white; }
      header .top-header .top-header-content .top-header-right div a {
        color: #a5a5a6;
        text-align: center;
        text-decoration: none;
        font-size: 12px; }
    header .top-header .top-header-content .top-header-right .favorites,
    header .top-header .top-header-content .top-header-right .bag {
      padding-left: 3px;
      border: none;
      display: none; }
      @media (min-width: 768px) {
        header .top-header .top-header-content .top-header-right .favorites,
        header .top-header .top-header-content .top-header-right .bag {
          display: inline; } }
      header .top-header .top-header-content .top-header-right .favorites span,
      header .top-header .top-header-content .top-header-right .bag span {
        color: #a2a2a2; }
    header .top-header .top-header-content .top-header-right .bag i {
      color: #d73e48; }
  header .top-header .top-header-content .login {
    display: none; }
    @media (min-width: 640px) {
      header .top-header .top-header-content .login {
        display: inline; } }

@media (min-width: 480px) {
  .header-separate {
    height: 4px;
    width: 100%;
    background-color: #414143;
    border-bottom: solid 1px #4a4a4b; } }

.header-middle {
  background-color: #414042;
  color: white; }
  .header-middle .header-middle-content {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-items: center; }
    .header-middle .header-middle-content .left-section {
      width: 35%;
      display: flex; }
      .header-middle .header-middle-content .left-section .menu-mobile,
      .header-middle .header-middle-content .left-section .search-mobile {
        display: inline; }
        .header-middle .header-middle-content .left-section .menu-mobile i,
        .header-middle .header-middle-content .left-section .search-mobile i {
          font-size: 16px;
          margin-right: 15px; }
          .header-middle .header-middle-content .left-section .menu-mobile i :hover,
          .header-middle .header-middle-content .left-section .search-mobile i :hover {
            color: #a5a5a6; }
      @media (min-width: 900px) {
        .header-middle .header-middle-content .left-section .menu-mobile {
          display: none; } }
      @media (min-width: 480px) {
        .header-middle .header-middle-content .left-section .search-mobile {
          display: none; } }
      .header-middle .header-middle-content .left-section .menu-desktop .nav-menu-desktop {
        display: none; }
        @media (min-width: 900px) {
          .header-middle .header-middle-content .left-section .menu-desktop .nav-menu-desktop {
            display: inline;
            padding-top: 30px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center; }
            .header-middle .header-middle-content .left-section .menu-desktop .nav-menu-desktop :hover {
              color: white; }
            .header-middle .header-middle-content .left-section .menu-desktop .nav-menu-desktop a {
              float: left;
              color: #a5a5a6;
              text-align: center;
              padding-right: 20px;
              text-decoration: none;
              font-size: 13px;
              text-transform: uppercase;
              font-family: futura_light; } }
    .header-middle .header-middle-content .img-logo {
      margin: 0 auto; }
      .header-middle .header-middle-content .img-logo img {
        height: 25px; }
      @media (min-width: 480px) {
        .header-middle .header-middle-content .img-logo img {
          height: 40px; } }
    .header-middle .header-middle-content .right-section {
      width: 35%;
      text-align: right; }
      .header-middle .header-middle-content .right-section .right-section-mobile {
        display: inline; }
        @media (min-width: 480px) {
          .header-middle .header-middle-content .right-section .right-section-mobile {
            display: none; } }
        .header-middle .header-middle-content .right-section .right-section-mobile i {
          font-size: 16px;
          margin-left: 10px; }
      .header-middle .header-middle-content .right-section .search-section {
        float: left; }
        .header-middle .header-middle-content .right-section .search-section i {
          color: white;
          display: none; }
          @media (min-width: 480px) {
            .header-middle .header-middle-content .right-section .search-section i {
              display: inline; } }
        .header-middle .header-middle-content .right-section .search-section .search-tablet, .header-middle .header-middle-content .right-section .search-section .search-desktop {
          display: none; }
          @media (min-width: 480px) {
            .header-middle .header-middle-content .right-section .search-section .search-tablet, .header-middle .header-middle-content .right-section .search-section .search-desktop {
              display: inline;
              text-align: right;
              background-color: #414042;
              font-style: italic;
              font-family: futura_light;
              border: none; } }
          @media (min-width: 900px) {
            .header-middle .header-middle-content .right-section .search-section .search-tablet, .header-middle .header-middle-content .right-section .search-section .search-desktop {
              display: none; } }
        .header-middle .header-middle-content .right-section .search-section .search-desktop {
          display: none; }
          @media (min-width: 900px) {
            .header-middle .header-middle-content .right-section .search-section .search-desktop {
              display: inline;
              width: 60%;
              text-align: left;
              border: 0px;
              border-bottom: solid 1px;
              border-color: #a5a5a6; } }

.main-menu {
  overflow: hidden;
  background-color: #efeae5; }
  .main-menu .menu-content {
    padding-left: 55px; }
    @media (min-width: 480px) {
      .main-menu .menu-content {
        padding-left: 15px; } }
    .main-menu .menu-content a {
      float: left;
      padding: 10px 0px;
      padding-right: 35px;
      color: #a5a5a6;
      text-align: center;
      text-decoration: none;
      font-size: 13px;
      text-transform: uppercase;
      font-family: futura_light; }
    @media (min-width: 320px) {
      .main-menu .menu-content .topnav-mobile-tablet {
        display: flex;
        align-items: center;
        justify-content: center; } }
  @media (min-width: 320px) and (min-width: 900px) {
    .main-menu .menu-content .topnav-mobile-tablet {
      display: none; } }
    @media (min-width: 320px) {
        .main-menu .menu-content .topnav-mobile-tablet a :hover {
          border-bottom: 1px solid black; } }
    .main-menu .menu-content .topnav-desktop {
      display: none; }
      @media (min-width: 900px) {
        .main-menu .menu-content .topnav-desktop {
          display: inline; }
          .main-menu .menu-content .topnav-desktop a {
            padding-right: 35px;
            color: black; }
            .main-menu .menu-content .topnav-desktop a:hover {
              color: #a5a5a6 !important; } }

body {
  margin: 0; }

@media (max-width: 1024px) {
  .breadcrumbs {
    display: none; } }

.product-banner-mobile .container {
  padding: 0px; }

.product-banner-mobile .product-banner-content {
  position: relative; }
  .product-banner-mobile .product-banner-content .product-banner-mobile {
    width: 100%; }
    @media (min-width: 480px) {
      .product-banner-mobile .product-banner-content .product-banner-mobile {
        display: none; } }
  .product-banner-mobile .product-banner-content .slideshow-container {
    position: absolute;
    bottom: 3%;
    margin: auto;
    align-items: center; }
    @media (min-width: 480px) {
      .product-banner-mobile .product-banner-content .slideshow-container {
        display: none; } }
    .product-banner-mobile .product-banner-content .slideshow-container .slide {
      width: 90%;
      margin-left: 5%; }
  .product-banner-mobile .product-banner-content .prev,
  .product-banner-mobile .product-banner-content .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -20px;
    color: #a5a5a6;
    font-size: 25px;
    transition: 0.6s ease;
    user-select: none;
    background-color: #bfbfbf;
    font-weight: 100; }
  .product-banner-mobile .product-banner-content .next {
    right: 0;
    transform: translate(-8px, 0px);
    border-radius: 0px 3px 3px 0px; }
  .product-banner-mobile .product-banner-content .prev {
    transform: translate(-10px, 0px);
    border-radius: 3px 0px 0px 3px; }
  .product-banner-mobile .product-banner-content .prev:hover,
  .product-banner-mobile .product-banner-content .next:hover {
    color: white;
    background-color: #a5a5a6; }
  .product-banner-mobile .product-banner-content .fade {
    padding-left: 5%;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

/* Fading animation */
@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.product-mobile .container {
  padding: 10px 30px 0 30px; }
  .product-mobile .container .product-mobile-content {
    border-bottom: 1px solid #d3d2d0;
    padding-bottom: 15px; }
    .product-mobile .container .product-mobile-content .display-op-mobile a {
      font-size: 28px;
      color: black; }
    .product-mobile .container .product-mobile-content .display-op-mobile button {
      float: right;
      margin-top: 6px;
      font-family: futura_book;
      padding: 4px 15px;
      border: 1px solid #d3d2d0;
      border-radius: 3px;
      background-color: white;
      font-weight: 100; }
      .product-mobile .container .product-mobile-content .display-op-mobile button span {
        color: #a42727;
        padding-left: 10px; }
    .product-mobile .container .product-mobile-content .display-op-mobile .fa-th-large {
      color: #a5a5a6;
      font-size: 26px; }
    .product-mobile .container .product-mobile-content .product-mobile-list .product-mobile-content {
      display: flex; }
      .product-mobile .container .product-mobile-content .product-mobile-list .product-mobile-content .product-mobile-item {
        display: flex; }
