@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@font-face {
  font-family: stay-wildy;
  src: url("/fonts/stay-wildy.eot"); }

@font-face {
  font-family: futura_bk;
  src: url(/fonts/futura_bk_bt_book-webfont.eot);
  src: url(/fonts/futura_bk_bt_book-webfont.svg);
  src: url(/fonts/futura_bk_bt_book-webfont.ttf);
  src: url(/fonts/futura_bk_bt_book-webfont.woff); }

@font-face {
  font-family: futura_light;
  src: url(/fonts/futurastd-light-webfont.ttf);
  src: url(/fonts/futurastd-light-webfont.eot);
  src: url(/fonts/futurastd-light-webfont.svg);
  src: url(/fonts/futurastd-light-webfont.woff); }

@font-face {
  font-family: opensans;
  src: url("/fonts/OpenSans.woff"); }

.breadcrumb {
  display: none !important;
  background-color: white;
  margin-bottom: 20px; }
  @media (min-width: 900px) {
    .breadcrumb {
      display: inline !important; } }
  .breadcrumb .breadcrumb-content {
    float: left;
    list-style: none;
    text-transform: uppercase;
    font-size: 10px;
    margin: 0px;
    font-family: opensans; }
    .breadcrumb .breadcrumb-content a {
      color: #a5a5a6;
      margin-bottom: 50px !important; }

.main-banner {
  background-color: #f4f4f4;
  margin-top: 5px; }
  .main-banner .container {
    padding: 0px; }
  .main-banner .main-banner-content .banner-mobile {
    width: 100%; }
    @media (min-width: 768px) {
      .main-banner .main-banner-content .banner-mobile {
        display: none; } }
  .main-banner .main-banner-content .banner-desktop {
    display: none; }
    @media (min-width: 768px) {
      .main-banner .main-banner-content .banner-desktop {
        display: inline;
        width: 100%;
        overflow: hidden !important; } }

.daddy .container {
  padding: 0px; }

.daddy .daddy-content .product-intro {
  margin-bottom: 20px; }
  .daddy .daddy-content .product-intro img {
    margin: 0px 15% 0px 15%;
    width: 70%;
    overflow: hidden; }
    @media (min-width: 480px) {
      .daddy .daddy-content .product-intro img {
        width: 60%;
        margin: 20% 10% 0px 30%; } }
  .daddy .daddy-content .product-intro button {
    background-color: #414042;
    padding: 5px 40px;
    text-transform: uppercase;
    font-family: opensans;
    font-size: 14px;
    color: white;
    border: 0px;
    width: 70%;
    margin: 0 15% 0 15%; }
    @media (min-width: 480px) {
      .daddy .daddy-content .product-intro button {
        width: 50%;
        margin: 20px 15% 0 35%; } }
    @media (min-width: 480px) and (max-width: 991px) {
      .daddy .daddy-content .product-intro button {
        width: 70%;
        margin: 20px 15% 0 25%; } }

.daddy .daddy-content .daddy-image .daddy-mobile {
  width: 90%;
  margin: 0 5% 0 5%;
  overflow: hidden;
  box-shadow: 10px 10px 60px #e5e5e5; }
  @media (min-width: 480px) {
    .daddy .daddy-content .daddy-image .daddy-mobile {
      display: none; } }

.daddy .daddy-content .daddy-image .daddy-desktop {
  display: none; }
  @media (min-width: 480px) {
    .daddy .daddy-content .daddy-image .daddy-desktop {
      display: inline;
      width: 80%;
      margin: 10% 30% 5% 10%; } }

@media (min-width: 480px) {
  .daddy .daddy-content {
    display: flex; } }

footer {
  color: #838283;
  font-family: opensans; }
  footer .copyright-footer {
    padding: 10px;
    background-color: #303030;
    text-align: center;
    text-transform: uppercase;
    font-family: opensans;
    font-size: 10px; }
  footer hr {
    border: 1px solid #f3f3f3; }
  @media (min-width: 1024px) {
    footer .footer-mobile-tablet {
      display: none; } }
  footer .footer-mobile-tablet .contact {
    justify-content: center; }
    footer .footer-mobile-tablet .contact .contact-content {
      text-align: center;
      text-transform: uppercase;
      color: #414042;
      font-size: 11pt; }
    footer .footer-mobile-tablet .contact .icons-contact {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      font-size: 11pt; }
      footer .footer-mobile-tablet .contact .icons-contact .icon-chat,
      footer .footer-mobile-tablet .contact .icons-contact .icon-call,
      footer .footer-mobile-tablet .contact .icons-contact .icon-email {
        float: left;
        text-align: center;
        text-transform: uppercase;
        font-size: 11pt;
        margin: 0 10px; }
    footer .footer-mobile-tablet .contact .infor-contact {
      text-align: center;
      font-size: 11pt;
      color: #a1a1a1; }
    footer .footer-mobile-tablet .contact .subscribe {
      background-color: #f3f3f3;
      text-align: center;
      padding-bottom: 10px; }
      footer .footer-mobile-tablet .contact .subscribe p {
        text-align: center;
        font-size: 11pt;
        color: #414042;
        font-family: opensans;
        padding: 10px 10px; }
      footer .footer-mobile-tablet .contact .subscribe .email-subscribe {
        padding: 10px 10px;
        border: none;
        font-family: opensans;
        width: 50%; }
      footer .footer-mobile-tablet .contact .subscribe button {
        padding: 10px 10px;
        border-radius: 0px;
        text-transform: uppercase; }
  footer .footer-mobile-tablet .box-content {
    background-color: #414042;
    text-transform: uppercase;
    font-family: opensans;
    padding: 10px;
    color: #fff;
    font-size: 14px; }
    footer .footer-mobile-tablet .box-content .content {
      padding: 10px 10px;
      border-bottom: solid 1px #4c4c4c; }
      footer .footer-mobile-tablet .box-content .content i {
        float: right; }
  @media (min-width: 425px) {
    footer .footer-mobile-tablet .review div, footer .footer-mobile-tablet .bottom-footer div, footer .footer-mobile-tablet .copyright-footer div {
      width: 350px;
      text-align: center;
      margin: 0 auto; } }
  footer .footer-mobile-tablet .review {
    padding: 10px;
    background-color: #414042;
    font-family: opensans;
    color: #fff;
    text-align: center;
    font-size: 11px; }
    footer .footer-mobile-tablet .review div {
      margin-top: 10px; }
    footer .footer-mobile-tablet .review .review-title {
      font-size: 13px;
      text-transform: uppercase; }
    footer .footer-mobile-tablet .review .review-stars {
      text-align: center; }
    footer .footer-mobile-tablet .review .review-content {
      color: #aaaaaa; }
      footer .footer-mobile-tablet .review .review-content span {
        color: white; }
    footer .footer-mobile-tablet .review .more-review {
      color: #aaaaaa; }
      footer .footer-mobile-tablet .review .more-review span {
        margin: 20px;
        color: white; }
    footer .footer-mobile-tablet .review a {
      text-decoration: none;
      color: #d9b67c; }
  footer .footer-mobile-tablet .bottom-footer {
    background-color: #414042;
    padding: 10px; }
    footer .footer-mobile-tablet .bottom-footer .clear {
      width: 100px;
      height: 1px;
      background-color: #4c4c4c;
      margin: 10px auto; }
    footer .footer-mobile-tablet .bottom-footer .country-select {
      height: 50px; }
      footer .footer-mobile-tablet .bottom-footer .country-select span {
        width: 45%; }
      footer .footer-mobile-tablet .bottom-footer .country-select .country-content {
        text-transform: uppercase;
        float: left;
        text-align: right;
        font-size: 10px;
        padding: 10px; }
      footer .footer-mobile-tablet .bottom-footer .country-select .country-region {
        background-color: #414042;
        float: right; }
        footer .footer-mobile-tablet .bottom-footer .country-select .country-region img {
          padding: 10px;
          width: 70px;
          height: 40px;
          float: left; }
    footer .footer-mobile-tablet .bottom-footer .social-icons, footer .footer-mobile-tablet .bottom-footer .payment-method {
      text-align: center; }
      footer .footer-mobile-tablet .bottom-footer .social-icons i, footer .footer-mobile-tablet .bottom-footer .payment-method i {
        margin: 10px;
        color: white; }
  footer .footer-desktop {
    font-family: opensans;
    background-color: #414042;
    display: none; }
    @media (min-width: 1024px) {
      footer .footer-desktop {
        display: inline; } }
    footer .footer-desktop div {
      background-color: #414042;
      font-size: 13px; }
    footer .footer-desktop .clear {
      width: 1px;
      height: 50px;
      background-color: #4c4c4c;
      margin: auto  30px; }
    footer .footer-desktop .top-footer {
      padding-top: 10px;
      padding-bottom: 20px; }
      footer .footer-desktop .top-footer .container {
        font-family: opensans;
        display: flex;
        align-items: center; }
        footer .footer-desktop .top-footer .container .social-icons, footer .footer-desktop .top-footer .container .country-select {
          width: 25%;
          text-align: left;
          text-transform: uppercase; }
          footer .footer-desktop .top-footer .container .social-icons i, footer .footer-desktop .top-footer .container .country-select i {
            color: #fff;
            font-size: 16px;
            margin-right: 10px; }
        footer .footer-desktop .top-footer .container .subscribe {
          text-align: left; }
          footer .footer-desktop .top-footer .container .subscribe input {
            color: #aaa;
            background-color: #2d2d2e;
            border: 1px solid #222;
            height: 40px;
            width: 70%; }
          footer .footer-desktop .top-footer .container .subscribe button {
            background-color: transparent;
            border: 1px solid #a2a2a2;
            height: 40px;
            width: 25%;
            color: #a2a2a2; }
        footer .footer-desktop .top-footer .container .country-select {
          width: 30%;
          float: right;
          text-align: left; }
          footer .footer-desktop .top-footer .container .country-select img {
            vertical-align: middle; }
          footer .footer-desktop .top-footer .container .country-select span {
            padding-left: 15px;
            font-size: 10px; }
    footer .footer-desktop .review-title {
      text-transform: uppercase;
      color: white;
      font-size: 14px;
      padding: 10px 0px; }
    footer .footer-desktop .review-footer {
      padding-top: 10px;
      padding-bottom: 20px; }
      footer .footer-desktop .review-footer .container {
        display: flex; }
        footer .footer-desktop .review-footer .container .review-detail, footer .footer-desktop .review-footer .container .more-review {
          width: 25%;
          margin-right: 15px; }
        footer .footer-desktop .review-footer .container .review-detail {
          text-align: left; }
          footer .footer-desktop .review-footer .container .review-detail .review-stars i {
            color: white;
            font-size: 16px; }
          footer .footer-desktop .review-footer .container .review-detail .review-content {
            font-size: 12px; }
            footer .footer-desktop .review-footer .container .review-detail .review-content span {
              color: white; }
            footer .footer-desktop .review-footer .container .review-detail .review-content a {
              text-decoration: none;
              color: #d9b67c; }
        footer .footer-desktop .review-footer .container .more-review {
          font-size: 12px; }
          footer .footer-desktop .review-footer .container .more-review span {
            color: white; }
          footer .footer-desktop .review-footer .container .more-review a {
            text-decoration: none;
            color: #d9b67c; }
    footer .footer-desktop .content-footer {
      padding-top: 10px;
      padding-bottom: 20px; }
      footer .footer-desktop .content-footer .container {
        display: flex; }
        footer .footer-desktop .content-footer .container .content {
          width: 25%;
          margin-right: 15px; }
          footer .footer-desktop .content-footer .container .content .title-content, footer .footer-desktop .content-footer .container .content .contact {
            text-transform: uppercase;
            color: white;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 14px; }
          footer .footer-desktop .content-footer .container .content li {
            list-style: none;
            margin-bottom: 10px;
            font-size: 10px;
            color: #aaaaaa; }
            footer .footer-desktop .content-footer .container .content li span {
              color: #727272; }
  footer .payment-method {
    text-align: center;
    color: white;
    padding: 10px; }
    footer .payment-method i {
      margin: 10px;
      font-size: 30px; }

@media (min-width: 480px) {
  header .top-header {
    background-color: #414042;
    border-bottom: solid 1px #313133; } }

@media (max-width: 480px) {
  header .top-header {
    background-color: #4c4c4c; } }

header .top-header .top-header-content {
  overflow: hidden;
  font-family: futura_bk;
  padding: 5px 0px 5px 0px; }
  @media (max-width: 480px) {
    header .top-header .top-header-content {
      display: flex;
      align-items: center;
      justify-content: center; } }
  header .top-header .top-header-content .return {
    margin-left: 20px; }
  header .top-header .top-header-content .shipping, header .top-header .top-header-content .return {
    float: left; }
    header .top-header .top-header-content .shipping :hover, header .top-header .top-header-content .return :hover {
      color: white; }
    header .top-header .top-header-content .shipping span, header .top-header .top-header-content .shipping a, header .top-header .top-header-content .shipping i, header .top-header .top-header-content .return span, header .top-header .top-header-content .return a, header .top-header .top-header-content .return i {
      color: #a2a2a2;
      text-align: center;
      text-decoration: none;
      font-size: 12px; }
    header .top-header .top-header-content .shipping span, header .top-header .top-header-content .return span {
      display: inline; }
      @media (min-width: 480px) {
        header .top-header .top-header-content .shipping span, header .top-header .top-header-content .return span {
          display: none; } }
    header .top-header .top-header-content .shipping i, header .top-header .top-header-content .return i {
      display: none; }
      @media (min-width: 480px) {
        header .top-header .top-header-content .shipping i, header .top-header .top-header-content .return i {
          display: inline; } }
  header .top-header .top-header-content .top-header-right {
    display: none;
    float: right;
    text-transform: uppercase; }
    @media (min-width: 480px) {
      header .top-header .top-header-content .top-header-right {
        display: inline; } }
    header .top-header .top-header-content .top-header-right div {
      margin-left: 3px;
      float: left; }
      header .top-header .top-header-content .top-header-right div :hover {
        color: white; }
      header .top-header .top-header-content .top-header-right div a {
        color: #a5a5a6;
        text-align: center;
        text-decoration: none;
        font-size: 12px; }
    header .top-header .top-header-content .top-header-right .favorites, header .top-header .top-header-content .top-header-right .bag {
      padding-left: 3px;
      border: none;
      display: none; }
      @media (min-width: 768px) {
        header .top-header .top-header-content .top-header-right .favorites, header .top-header .top-header-content .top-header-right .bag {
          display: inline; } }
      header .top-header .top-header-content .top-header-right .favorites span, header .top-header .top-header-content .top-header-right .bag span {
        color: #a2a2a2; }
    header .top-header .top-header-content .top-header-right .bag i {
      color: #d73e48; }
  header .top-header .top-header-content .login {
    display: none; }
    @media (min-width: 640px) {
      header .top-header .top-header-content .login {
        display: inline; } }

@media (min-width: 480px) {
  .header-separate {
    height: 4px;
    width: 100%;
    background-color: #414143;
    border-bottom: solid 1px #4a4a4b; } }

.header-middle {
  background-color: #414042;
  color: white; }
  .header-middle .header-middle-content {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-items: center; }
    .header-middle .header-middle-content .left-section {
      width: 35%;
      display: flex; }
      .header-middle .header-middle-content .left-section .menu-mobile, .header-middle .header-middle-content .left-section .search-mobile {
        display: inline; }
        .header-middle .header-middle-content .left-section .menu-mobile i, .header-middle .header-middle-content .left-section .search-mobile i {
          font-size: 16px;
          margin-right: 15px; }
          .header-middle .header-middle-content .left-section .menu-mobile i :hover, .header-middle .header-middle-content .left-section .search-mobile i :hover {
            color: #a5a5a6; }
      @media (min-width: 900px) {
        .header-middle .header-middle-content .left-section .menu-mobile {
          display: none; } }
      @media (min-width: 480px) {
        .header-middle .header-middle-content .left-section .search-mobile {
          display: none; } }
      .header-middle .header-middle-content .left-section .menu-desktop .nav-menu-desktop {
        display: none; }
        @media (min-width: 900px) {
          .header-middle .header-middle-content .left-section .menu-desktop .nav-menu-desktop {
            display: inline;
            padding-top: 30px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center; }
            .header-middle .header-middle-content .left-section .menu-desktop .nav-menu-desktop :hover {
              color: white; }
            .header-middle .header-middle-content .left-section .menu-desktop .nav-menu-desktop a {
              float: left;
              color: #a5a5a6;
              text-align: center;
              padding-right: 20px;
              text-decoration: none;
              font-size: 13px;
              text-transform: uppercase;
              font-family: futura_light; } }
    .header-middle .header-middle-content .img-logo {
      margin: 0 auto; }
      .header-middle .header-middle-content .img-logo img {
        height: 25px; }
      @media (min-width: 480px) {
        .header-middle .header-middle-content .img-logo img {
          height: 40px; } }
    .header-middle .header-middle-content .right-section {
      width: 35%;
      text-align: right; }
      .header-middle .header-middle-content .right-section .right-section-mobile {
        display: inline; }
        @media (min-width: 480px) {
          .header-middle .header-middle-content .right-section .right-section-mobile {
            display: none; } }
        .header-middle .header-middle-content .right-section .right-section-mobile i {
          font-size: 16px;
          margin-left: 10px; }
      .header-middle .header-middle-content .right-section .search-section {
        float: left; }
        .header-middle .header-middle-content .right-section .search-section i {
          color: white;
          display: none; }
          @media (min-width: 480px) {
            .header-middle .header-middle-content .right-section .search-section i {
              display: inline; } }
        .header-middle .header-middle-content .right-section .search-section .search-tablet, .header-middle .header-middle-content .right-section .search-section .search-desktop {
          display: none; }
          @media (min-width: 480px) {
            .header-middle .header-middle-content .right-section .search-section .search-tablet, .header-middle .header-middle-content .right-section .search-section .search-desktop {
              display: inline;
              text-align: right;
              background-color: #414042;
              font-style: italic;
              font-family: futura_light;
              border: none; } }
          @media (min-width: 900px) {
            .header-middle .header-middle-content .right-section .search-section .search-tablet, .header-middle .header-middle-content .right-section .search-section .search-desktop {
              display: none; } }
        .header-middle .header-middle-content .right-section .search-section .search-desktop {
          display: none; }
          @media (min-width: 900px) {
            .header-middle .header-middle-content .right-section .search-section .search-desktop {
              display: inline;
              width: 60%;
              text-align: left;
              border: 0px;
              border-bottom: solid 1px;
              border-color: #a5a5a6; } }

.main-menu {
  overflow: hidden;
  background-color: #efeae5; }
  .main-menu .menu-content {
    padding-left: 55px; }
    @media (min-width: 480px) {
      .main-menu .menu-content {
        padding-left: 15px; } }
    .main-menu .menu-content a {
      float: left;
      padding: 10px 0px;
      padding-right: 35px;
      color: #a5a5a6;
      text-align: center;
      text-decoration: none;
      font-size: 13px;
      text-transform: uppercase;
      font-family: futura_light; }
    @media (min-width: 320px) {
      .main-menu .menu-content .topnav-mobile-tablet {
        display: flex;
        align-items: center;
        justify-content: center; } }
  @media (min-width: 320px) and (min-width: 900px) {
    .main-menu .menu-content .topnav-mobile-tablet {
      display: none; } }
    .main-menu .menu-content .topnav-desktop {
      display: none; }
      @media (min-width: 900px) {
        .main-menu .menu-content .topnav-desktop {
          display: inline; }
          .main-menu .menu-content .topnav-desktop a {
            padding-right: 35px;
            color: black; }
            .main-menu .menu-content .topnav-desktop a:hover {
              border-bottom: 1px solid black; } }

body {
  margin: 0; }
