.breadcrumb {
    @media (max-width: 900px) {
        display: none !important;
    }
    transform: translate(300px, 0);
    background-color: white !important;
    // height: 20px !important;
    margin: 0px !important;
    padding: 4px 0 1px 0 !important;
    font-family: opensans !important;
    font-size: 10px;
    text-transform: uppercase;
    color: $link_color;
    transform: translate(-13px, 0px);
    .breadcrumb-item {
        color: $main_color !important;
        background-color: white;
        a {
            color: $main_color !important;
        }
    }
}