// Product Desktop
.product-desktop {
    @media (max-width: 1023px) {
        display: none;
    }
    margin-top: 15px;
    .product-desktop-content {
        display: flex;
        .left-section {
            width: 27%;
            .title-left {
                background-color: #eeeeee;
                p {
                    font-family: futura_book;
                    font-size: 15px;
                    color: #414042;
                    padding: 10px 10px;
                    text-transform: uppercase;
                }
            }
            .box-collapse {
                // background-color: #414042;
                text-transform: uppercase;
                font-family: opensans;
                color: black;
                font-size: 14px;
                .collapse-item {
                    padding: 8px 0px;
                    // border-bottom: solid 1px #4c4c4c;
                }
                .accordion {
                    color: #666666;
                    cursor: pointer;
                    width: 100%;
                    border: none;
                    text-align: left;
                    transition: 0.1s;
                    font-family: futura_book;
                    font-size: 14px;
                    // font-weight: 700;
                }
                .accordion:after {
                    font-family: FontAwesome;
                    content: "\f105";
                    float: right;
                    margin-left: 5px;
                }
                .active:after {
                    font-family: FontAwesome;
                    content: "\f107";
                }
                .panel {
                    // background-color: 414042;
                    width: 95%;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease-out;
                    ul {
                        list-style: none;
                        padding-left: 0px;
                        li {
                            text-transform: none;
                            padding: 5px 0 12px 0;
                            font-family: futura_light;
                            font-size: 13px;
                            border-bottom: 1px solid #e6e6e6;
                            &:hover {
                                background-color: #ececec;
                                a {
                                    color: black;
                                }
                            }
                            a {
                                color: #767676;
                                text-decoration: none;
                                span {
                                    float: right;
                                }
                            }
                        }
                        .last {
                            border-bottom: none;
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
        .right-section {
            width: 58%;
            margin-left: 4.8%;
            @media (min-width: 1200px) {
                width: 58.8%;
                margin-left: 3.8%;
            }
            .title-right {
                display: flex;
                background-color: #eeeeee;
                justify-content: space-between;
                .icon {
                    padding: 9px 0px 9px 10px;
                    img {
                        padding-right: 3px;
                    }
                }
                .pagination {
                    padding: 13px 0px 5px 0px;
                    p {
                        margin: 0px;
                        font-size: 13px;
                        transform: translate(50px, 0px);
                        span {
                            padding-right: 9px;
                            color: #939393;
                            &:nth-child(1) {
                                color: black;
                            }
                            &:nth-child(7) {
                                color: black;
                            }
                        }
                    }
                }
                .option {
                    padding: 10px 0px 8px 0px;
                    img {
                        width: 45%;
                    }
                    button {
                        font-family: futura_book;
                        font-size: 13px;
                        color: #414042;
                        background-color: transparent;
                        border: none;
                        border-left: 1px solid #c5c5c5;
                        padding-right: 0px;
                        span {
                            i {
                                transform: translate(8px, -3px);
                            }
                        }
                    }
                }
            }
        }
    }
}