.header-middle {
    @media (min-width: 1024px) {
        display: none;
    }
}

.header-middle-product {
    @media (max-width: 1023px) {
        display: none;
    }
    background-color: #414042;
    color: white;
    padding: 5px 0px;
    overflow: hidden;
    .header-middle-content {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-items: center;
        .img-logo {
            a>img {
                height: 40px;
            }
        }
        .left-section {
            @media (min-width: 1024px) and (max-width: 1119px) {
                font-size: 12px;
                padding-left: 10px;
            }
            .menu-desktop {
                // margin-left: 10px;
                transform: translate(40px, 15px);
                @media (min-width: 1024px) and (max-width: 1199px) {
                    // transform: translate(30px, 13px);
                    width: 120%;
                }
                // @media (min-width: 1120px) and (max-width: 1199px) {
                //     transform: translate(30px, 14px);
                //     width: 120%;
                // }
                a {
                    color: $link_color;
                    text-align: center;
                    padding-left: 4px;
                    text-decoration: none;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-family: futura_light;
                    &:hover {
                        color: white;
                    }
                    // @media (min-width: 1024px) and (max-width: 1119px) {
                    //     font-size: 12px;
                    //     padding-left: 3px;
                    // }
                }
                span {
                    @extend a;
                }
            }
        }
        .right-section {
            transform: translate(330px, 0px);
            @media (min-width: 1024px) and (max-width: 1199px) {
                transform: translate(220px, 0px);
            }
            .search-section {
                background-color: #525252;
                border: 1px solid #5f5f5f;
                width: 50%;
                @media (min-width: 1024px) and (max-width: 1119px) {
                    width: 50%;
                }
                .search-desktop {
                    display: inline;
                    text-align: left;
                    background-color: #525252;
                    font-family: futura_light;
                    border: 0px;
                    width: 60%;
                    @media (min-width: 1024px) and (max-width: 1119px) {
                        width: 50%;
                    }
                }
                i {
                    float: right;
                    padding: 6px 5px 3px 0px;
                }
            }
        }
    }
}