// Product Mobile 
.product-banner {
    background-color: #f5f5f5;
    .container {
        padding: 0px;
        // margin: 0px;
        margin: 0 auto;
    }
    .product-banner-content {
        position: relative;
        overflow: hidden;
        .breadcumb {
            padding: 4px 0px 0px 18px;
            font-size: 12px;
            color: #767676;
            font-family: futura_book;
            span {
                color: #767676;
                padding: 0px 5px;
                font-weight: 500;
                font-size: 13px;
            }
            @media (max-width: 1023px) {
                display: none;
            }
        }
        .product-banner-mobile {
            width: 100%;
            @media(min-width: 481px) {
                display: none;
            }
        }
        .product-banner-tablet {
            @media(max-width: 480px) {
                display: none;
            }
            @media(min-width: 1024px) {
                display: none;
            }
            width: 100%;
        }
        .product-banner-desktop {
            @media(max-width: 1023px) {
                display: none;
            }
            @media(min-width: 1024px) and (max-width:1199px) {
                // width: 120%;
                height: 290px !important;
                transform: translate(-70px, 20px);
            }
            width: 120%;
            height: 340px !important;
            transform: translate(-85px, 20px);
        }
        .slideshow-container {
            position: absolute;
            bottom: 3%;
            @media (min-width: 992px) and (max-width: 1024px) {
                bottom: 2%;
            }
            margin: auto;
            align-items: center;
            .slide {
                @media (max-width: 480px) {
                    width: 90%;
                    margin-left: 5%;
                    .slide-item-mobile1 {
                        content: url(/images/Product/Mobile/Semi-Eternity.webp);
                    }
                    .slide-item-mobile2 {
                        content: url(/images/Product/Mobile/Semi-Eternity2.webp);
                    }
                    .slide-item-mobile3 {
                        content: url(/images/Product/Mobile/Semi-Eternity.webp);
                    }
                }
                @media (min-width: 481px) and (max-width: 992px) {
                    width: 70%;
                    margin-left: 14.7%;
                    .slide-item-mobile1 {
                        content: url(/images/Product/Tablet/slide1.webp);
                    }
                    .slide-item-mobile2 {
                        content: url(/images/Product/Tablet/slide2.webp);
                    }
                    .slide-item-mobile3 {
                        content: url(/images/Product/Tablet/slide3.webp);
                    }
                }
                @media (min-width: 992px) and (max-width: 1023px) {
                    width: 90% !important;
                    margin-left: 15.75% !important;
                    .slide-item-mobile1 {
                        content: url(/images/Product/Tablet/slide1.webp);
                    }
                    .slide-item-mobile2 {
                        content: url(/images/Product/Tablet/slide2.webp);
                    }
                    .slide-item-mobile3 {
                        content: url(/images/Product/Tablet/slide3.webp);
                    }
                }
                @media (min-width: 1024px) and (max-width:1199px) {
                    width: 83%;
                    margin-left: 40.5%;
                    // margin-bottom: -1%;
                    transform: translate(0px, -5px);
                    .slide-item-mobile1 {
                        content: url(/images/Product/Tablet/slide1.webp);
                    }
                    .slide-item-mobile2 {
                        content: url(/images/Product/Tablet/slide2.webp);
                    }
                    .slide-item-mobile3 {
                        content: url(/images/Product/Tablet/slide3.webp);
                    }
                }
                @media (min-width: 1200px) {
                    width: 100%;
                    margin-left: 46.6%;
                    // margin-bottom: 0.5%;
                    .slide-item-mobile1 {
                        content: url(/images/Product/Tablet/slide1.webp);
                    }
                    .slide-item-mobile2 {
                        content: url(/images/Product/Tablet/slide2.webp);
                    }
                    .slide-item-mobile3 {
                        content: url(/images/Product/Tablet/slide3.webp);
                    }
                }
            }
        }
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -20px;
            color: $link_color;
            font-size: 25px;
            transition: 0.6s ease;
            user-select: none;
            // border-radius: 0px 0px 0 3px;
            background-color: #bfbfbf;
            font-weight: 100;
            @media (min-width: 481px) and (max-width: 767px) {
                font-size: 20px;
            }
            @media (min-width: 1024px) and (max-width:1119px) {
                transform: translate(100px, 0px);
            }
        }
        .next {
            right: 0;
            transform: translate(-8px, 0px);
            // border-radius: 0px 3px 3px 0px;
            @media (min-width: 480px) and (max-width: 1024px) {
                transform: translate(-100px, 0px);
            }
            @media (min-width: 992px) and (max-width: 1024px) {
                transform: translate(53px, 0px);
            }
            @media (min-width: 481px) and (max-width:767px) {
                transform: translate(-75px, 6px);
            }
            @media (min-width: 1024px) {
                display: none;
            }
        }
        .prev {
            transform: translate(-10px, 0px);
            // border-radius: 3px 0px 0px 3px;
            @media (min-width: 480px) and (max-width: 1024px) {
                transform: translate(53px, 0px);
            }
            @media (min-width: 992px) and (max-width: 1024px) {
                transform: translate(65px, 0px);
            }
            @media (min-width: 481px) and (max-width:767px) {
                transform: translate(40px, 6px);
            }
            @media (min-width: 1024px) {
                display: none;
            }
        }
        .prev:hover,
        .next:hover {
            color: white;
            background-color: $link_color;
        }
        .fade {
            padding-left: 5%;
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
    }
}


/* Fading animation */

@-webkit-keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

// Product List Mobile
.product-mobile {
    @media (min-width: 481px) {
        display: none;
    }
    .container {
        padding: 10px 25px 0 25px;
        .product-mobile-content {
            // border-bottom: 1px solid #d3d2d0;
            padding-bottom: 10px;
            .display-op-mobile {
                border-bottom: 1px solid #f0f0f0;
                padding-bottom: 10px;
                a {
                    font-size: 28px;
                    color: black;
                }
                button {
                    float: right;
                    margin-top: 6px;
                    font-family: futura_light;
                    padding: 0px 15px 5px 15px;
                    border: 1px solid #d3d2d0;
                    border-radius: 3px;
                    background-color: white;
                    font-weight: 100;
                    // padding-bottom: 10px;
                    span {
                        color: #a42727;
                        padding-left: 10px;
                    }
                }
                .fa-th-large {
                    color: $link_color;
                    font-size: 26px;
                }
            }
            .product-mobile-list {
                .product-mobile-content {
                    display: flex;
                    border-bottom: none;
                    .product-mobile-item {
                        overflow: hidden;
                        .product-img {
                            transform: translateX(10px);
                        }
                        span:nth-child(1) {
                            float: left;
                            // transform: translateY(300%);
                            color: #e0e0e0;
                            font-size: 20px;
                            padding: auto 0;
                            @media (max-width: 365px) {
                                display: none;
                            }
                            // @media (min-width: 365px) and (max-width: 425px) {
                            //     transform: translateY(300%);
                            // }
                        }
                        span:nth-child(3) {
                            float: right;
                            // transform: translateY(-218%);
                            color: #e0e0e0;
                            font-size: 20px;
                            padding: auto 0;
                            @media (max-width: 365px) {
                                display: none;
                            }
                        }
                        // display: flex;
                        img {
                            width: 90%;
                        }
                        .product-info {
                            @include product-info;
                        }
                    }
                }
            }
        }
    }
}

// Product List Tablet
.product-tablet {
    @media (max-width: 480px) {
        display: none;
    }
    @media (min-width: 1024px) {
        display: none;
    }
    .container {
        padding: 10px 25px 0 25px;
        .product-tablet-content {
            // border-bottom: 1px solid #d3d2d0;
            padding-bottom: 10px;
            .display-op-tablet {
                // border-bottom: 1px solid #f0f0f0;
                padding: 1px 10px 1px 10px;
                background-color: #eeeeee;
                width: 76%;
                @media (min-width: 768px) and (max-width: 991px) {
                    width: 75.5%;
                    transform: translate(-3px, 0px);
                }
                margin: 0 auto;
                @media (min-width: 992px) and (max-width: 1024px) {
                    transform: translate(-14px, 0px);
                }
                a {
                    font-size: 28px;
                    color: black;
                    @media (min-width: 768px) and (max-width: 991px) {
                        font-size: 20px;
                    }
                    @media (min-width: 481px) and (max-width:767px) {
                        font-size: 15px;
                    }
                }
                button {
                    float: right;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    font-family: futura_light;
                    padding: 0px 15px 5px 15px;
                    border: 1px solid #d3d2d0;
                    border-radius: 3px;
                    background-color: #fcf9f1;
                    font-weight: 100;
                    // padding-bottom: 10px;
                    @media (min-width: 768px) and (max-width: 991px) {
                        padding: 0px 5px 5px 10px;
                        margin-top: 2px;
                        font-size: 13px;
                    }
                    @media (min-width: 481px) and (max-width:767px) {
                        font-size: 11px;
                        padding: 0px 5px 3px 5px;
                        margin-top: 1.5px;
                    }
                    span {
                        color: #a42727;
                        padding-left: 10px;
                    }
                }
                .fa-th-large {
                    color: $link_color;
                    font-size: 26px;
                    @media (min-width: 768px) and (max-width: 991px) {
                        font-size: 19px;
                    }
                    @media (min-width: 481px) and (max-width:767px) {
                        font-size: 14px;
                    }
                }
            }
            // Product List
            .product-tablet-list {
                .product-tablet-content {
                    width: 75%;
                    display: flex;
                    border-bottom: none;
                    margin: 20px auto;
                    .product-tablet-item {
                        .hr1 {
                            width: 75%;
                            // margin-left: 80%;
                            transform: translate(20px, 0);
                        }
                        .hr2 {
                            width: 90%;
                            // margin-left: 10%;
                            transform: translate(10px, 0);
                        }
                        overflow: hidden;
                        .product-img {
                            transform: translateX(7px);
                        }
                        img {
                            width: 90%;
                            margin-bottom: 2px;
                        }
                        .product-info-tablet {
                            @include product-info;
                            span.favorite {
                                font-size: 10px;
                                @media (min-width: 768px) and (max-width: 991px) {
                                    font-size: 9px;
                                }
                                @media (min-width: 481px) and (max-width:767px) {
                                    font-size: 0px;
                                }
                            }
                            span {
                                i {
                                    font-size: 11px;
                                    color: #414042;
                                    @media (min-width: 768px) and (max-width: 991px) {
                                        font-size: 10px;
                                    }
                                    @media (min-width: 481px) and (max-width:767px) {
                                        margin-right: 10px;
                                        font-size: 13px;
                                        transform: translate(5px);
                                        color: $link_color;
                                    }
                                }
                            }
                            a {
                                img {
                                    // width: 105%;
                                    margin-top: 5px;
                                }
                                img.color1 {
                                    width: 38%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}