@font-face {
    font-family: stay-wildy;
    src: url('/fonts/stay-wildy.eot');
}

@font-face {
    font-family: futura_bk;
    src: url(/fonts/futura_bk_bt_book-webfont.eot);
    src: url(/fonts/futura_bk_bt_book-webfont.svg);
    src: url(/fonts/futura_bk_bt_book-webfont.ttf);
    src: url(/fonts/futura_bk_bt_book-webfont.woff);
}

@font-face {
    font-family: futura_light;
    src: url(/fonts/futurastd-light-webfont.ttf);
    src: url(/fonts/futurastd-light-webfont.eot);
    src: url(/fonts/futurastd-light-webfont.svg);
    src: url(/fonts/futurastd-light-webfont.woff);
}

@font-face {
    font-family: futura_book;
    src: url(/fonts/futurastd-book-webfont.eot);
    src: url(/fonts/futurastd-book-webfont.svg);
    src: url(/fonts/futurastd-book-webfont.ttf);
    src: url(/fonts/futurastd-book-webfont.woff);
}

@font-face {
    font-family: opensans;
    src: url('/fonts/OpenSans.woff');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');