@media (max-width: 1024px) {
    .breadcrumbs {
        display: none;
    }
}

// Product Mobile 
.product-banner-mobile {
    .container {
        padding: 0px;
    }
    .product-banner-content {
        position: relative;
        .product-banner-mobile {
            width: 100%;
            @media(min-width: 480px) {
                display: none;
            }
        }
        .slideshow-container {
            @media(min-width: 480px) {
                display: none;
            }
            position: absolute;
            bottom: 3%;
            margin: auto;
            align-items: center;
            .slide {
                width: 90%;
                margin-left: 5%;
            }
        }
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -20px;
            color: $link_color;
            font-size: 25px;
            transition: 0.6s ease;
            user-select: none;
            // border-radius: 0px 0px 0 3px;
            background-color: #bfbfbf;
            font-weight: 100;
        }
        .next {
            right: 0;
            transform: translate(-8px, 0px);
            border-radius: 0px 3px 3px 0px;
        }
        .prev {
            transform: translate(-10px, 0px);
            border-radius: 3px 0px 0px 3px;
        }
        .prev:hover,
        .next:hover {
            color: white;
            background-color: $link_color;
        }
        .fade {
            padding-left: 5%;
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
    }
}


/* Fading animation */

@-webkit-keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

// Product List Mobile
.product-mobile {
    .container {
        padding: 10px 30px 0 30px;
        .product-mobile-content {
            border-bottom: 1px solid #d3d2d0;
            padding-bottom: 15px;
            .display-op-mobile {
                a {
                    font-size: 28px;
                    color: black;
                }
                button {
                    float: right;
                    margin-top: 6px;
                    font-family: futura_book;
                    padding: 4px 15px;
                    border: 1px solid #d3d2d0;
                    border-radius: 3px;
                    background-color: white;
                    font-weight: 100;
                    span {
                        color: #a42727;
                        padding-left: 10px;
                    }
                }
                .fa-th-large {
                    color: $link_color;
                    font-size: 26px;
                }
            }
            .product-mobile-list {
                .product-mobile-content {
                    display: flex;
                    .product-mobile-item {
                        display: flex;
                    }
                }
            }
        }
    }
}